table {
    width: 100%;
    border: 5px;
    border-collapse: collapse;
}

#movies td,
#movies th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#movies th a {
    color: white;
}

#movies tr:nth-child(even) {
    background-color: #f2f2f2;
}

#movies tr:hover {
    background-color: #ddd;
}

#movies th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(92, 175, 76);
    color: white;
}